/* hero */

.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 100vh;
	background: #FFE60D;
	position: relative;
}

.not-found-content {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__caption {
	font-family: 'Shnobel';
	font-style: normal;
	font-weight: 400;
	font-size: 260px;
	line-height: 100%;
	text-align: center;
	color: #261003;
}

.not-found__text {
	font-family: 'Shnobel';
	font-style: normal;
	font-weight: 400;
	font-size: 96px;
	line-height: 100%;
	color: #261003;
	margin-bottom: 40px;
}

.decor-pastilles-404 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 0;
    right: 0;
}

.decor-pastilles-inner-404 { 
	position: relative;
	width: 100%;
	height: 100%;
}

.content__btn-404 {
    background: #FCFCFC;
    border-radius: 40px;
    padding: 22px 50px 24px 50px;
    font-family: 'Inter-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24.5208px;
    line-height: 100%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #261003;
    text-decoration: none;
}

/* decor pastilles */

.hero-decor-pastille__orange-404 {
	min-width: 46px;
    max-width: 80px;
    top: 30%;
    left: 9%;
}

.hero-decor-pastille__green-404 {
	bottom: 18%;
    right: 22%;
    max-width: 80px;
}

.hero-decor-pastille__green--mini-404 {
    top: 14%;
    left: 31%;
}

.hero-decor-pastille__blue-404 {
	top: 16%;
    right: 22%;
	max-width: 76px;
}

.hero-decor-pastille__blue-mini-404 {
    bottom: 26%;
    left: 8%;
    max-width: 82px;
    transform: rotate(122deg);
}

.hero-decor-pastille__yellow-404 {
    bottom: 12%;
    left: 31%;
    max-width: 92px;
}

.hero-decor-pastille__yellow-mini-404 {
	top: 27%;
    right: 8%;
	max-width: 92px;
}




/* decor pastilles end */


@media (max-width: 1440px) { 
	.not-found__caption {
		font-size: 210px;
	}
	.not-found__text {
		font-size: 82px;
	}
	.content__btn-404 {
		font-size: 22px;
		padding: 20px 40px 23px 40px;
	}

	.hero-decor-pastille__orange-404 {
		max-width: 6.6vw;
		min-width: 46px;
		max-width: 68px;
	}
	.hero-decor-pastille__green-404 {
		max-width: 6vw;
		min-width: 32px;
	}
	
	.hero-decor-pastille__green--mini-404 {
		max-width: 5vw;
		min-width: 40px;
	}
	
	.hero-decor-pastille__blue-404 {
		width: 6vw;
		min-width: 32px;
		max-width: 68px;
	}
	
	.hero-decor-pastille__blue-mini-404 {
		width: 6vw;
		min-width: 32px;
		max-width: 68px;
	}
	
	.hero-decor-pastille__yellow-404 {
		max-width: 7vw;
	}
	
	.hero-decor-pastille__yellow-mini-404 {
		max-width: 6.6vw;
		min-width: 46px;
	}

}

@media (max-width: 1100px) {  

}

@media (max-width: 991px) { 
	.not-found__caption {
		font-size: 22vw;
	}
	.not-found__text {
		font-size: 8vw;
		margin-bottom: 4vw;
	}
	.content__btn-404 {
		font-size: 20px;
		padding: 19px 40px 21px 40px;
	}
}

@media (max-width: 767px) { 

}

@media (max-width: 622px) { 
	.not-found__caption {
		font-size: 160px;
	}
	.content__btn-404 {
		font-size: 18px;
		padding: 22px 40px 24px 40px;
	}
	.not-found__text {
		font-size: 50px;
		margin-bottom: 20px;
		max-width: 313px;
		text-align: center;
		margin-bottom: 40px;
	}

	.hero-decor-pastille__orange-404 {
		max-width: 6.6vw;
		min-width: 52px;
	}
	.hero-decor-pastille__orange-404 {
		max-width: 6.6vw;
		min-width: 52px;
	}
	
	.hero-decor-pastille__green-404 {
		max-width: 6vw;
		min-width: 32px;
	}
	
	.hero-decor-pastille__blue-404 {
		top: 16%;
    	right: 30%;
	}
	
	.hero-decor-pastille__blue-mini-404 {
		max-width: 7vw;
		min-width: 33px;
	}
	
	.hero-decor-pastille__yellow-404 {
		max-width: 7vw;
	}
	
	.hero-decor-pastille__yellow-mini-404 {

	}
}
	
@media (max-width: 479px) { 
	.hero-decor-pastille__orange-404 {
		top: 85%;
		left: 27%;
	}
	.hero-decor-pastille__green-404 {
		bottom: 6%;
		right: 25%;
	}
	.hero-decor-pastille__green--mini-404 {
		top: 66%;
		left: 9%;
	}
	.hero-decor-pastille__yellow-404 {
		top: 16%;
		bottom: unset;
		left: 5.5%;
		min-width: 38px;
	}
	.hero-decor-pastille__yellow-mini-404 {
		min-width: 33px;
		top: 27%;
		right: 5%;
	}
	.hero-decor-pastille__blue-404 {
		top: 11%;
		right: 39%;
	}
	.hero-decor-pastille__blue-mini-404 {
		left: unset;
		right: 6%;
		top: 75%;
	}

}
